@import './assets/plugins/fontawesome-free/css/all.min.css';
@import './assets/dist/css/adminlte.min.css';

/*.sidebar-dark-primary {
  background-color: transparent !important;
  color: #000 !important; // letras negras

  .nav-link,
  .brand-text,
  .nav-header {
    color: #000 !important;
  }

  .nav-link:hover {
    background-color: #0000000d; // efecto hover suave
  }

  .nav-icon {
    color: #000 !important;
  }
} */